body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 640px;
    justify-content: center;
}
.content{
    padding-top: 72px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 64px;
    margin: 0 auto;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 32px;
}

.content .description .logo{
    height: 106px;
    margin: -28px;
}

.content .description h2{
    font-weight: normal;
    font-size: 28px;
    width: 500px;
}

.content .form{
    position: inherit;
    width: 396px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 20px 0 28px;
}

.content .form input{
    width: 330px;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;

}
.content .form input:focus{
    border-color: #1877f2;
}

.content .form .login-button, .content .form .signup-button{
    width: 364px;
    padding: 14px 16px;
    margin-top: 6px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}
.content .form .login-button:hover{
    background-color: #166fe5;
    border-color: #166fe5;
}
.content .form .signup-button{
    background-color: #42b72a;
    font-size: 17px;
    width: 200px;
}
.content .form .signup-button:hover{
    background-color: #36a420;
    border-color: #36a420;
}

.content .form a{
    margin-top: 16px;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.content hr{
    border: none;
    border-top: 1px solid #dadde1;
    width: calc(100% - 40px);
    margin: 20px 16px;
}

@media only screen and (max-width:1075px){
    .content .description{
        width: 400px;
        padding-right: 0;
    }
    .content .description h2{
        width: auto;
        font-size: 24px;
    }
}
@media only screen and (max-width:900px){
    .content{
        flex-direction: column;
        align-items: center;
    }
    .content .description{
        align-items: center;
    }
    .content .description h2{
       text-align: center;
    }
}